.services-box {
    .header-services {
        align-self: center;

        p {
            font-family: 'Montserrat', sans-serif;
            font-size: 24px;
            color: white;
        }
    }
    
    .main-content-services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding: 30px;
    }
}

.background-animated {
    background: linear-gradient(230deg, #005fff, #001d4d);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 14s ease infinite;
    animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
@keyframes AnimationName {
    0%{background-position:0% 88%}
    50%{background-position:100% 13%}
    100%{background-position:0% 88%}
}
