* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
}
.box .background-animated {
  background: linear-gradient(359deg, #46708e, #003860);
  background-size: 400% 400%;
  -webkit-animation: Animation 11s ease infinite;
  animation: Animation 11s ease infinite;
}
.box .section-box {
  display: flex;
  justify-content: center;
  height: 90%;
  overflow: auto;
}
.box .section-box .services-box,
.box .section-box .clients-box,
.box .section-box .squad-box,
.box .section-box .contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 30px;
  height: auto;
  width: 75%;
  background-color: #3b6684;
  overflow: auto;
}
.box .section-box .services-box::-webkit-scrollbar,
.box .section-box .clients-box::-webkit-scrollbar,
.box .section-box .squad-box::-webkit-scrollbar,
.box .section-box .contact-box::-webkit-scrollbar {
  display: none;
}

@-webkit-keyframes Animation {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes Animation {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
.clients-box {
  text-align: center;
}

.contact-box .content-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  gap: 30px;
  background-color: pink;
}
.contact-box .content-contact p {
  font-size: 25px;
}
.contact-box .content-contact .contact-social-medias {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-box .content-contact .contact-social-medias p {
  font-size: 17px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10%;
  background-color: #114b75;
}
.header img {
  width: 10%;
  cursor: pointer;
}
.header .header-sections {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.header .header-sections p {
  cursor: pointer;
  color: white;
}

.services-box .header-services {
  align-self: center;
}
.services-box .header-services p {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: white;
}
.services-box .main-content-services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 30px;
}
.services-box .main-content-services .services-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #46708e;
  border-radius: 15px;
  gap: 20px;
  width: fit-content;
  border: 1px red solid;
}
.services-box .main-content-services .services-item p {
  width: 50%;
  text-align: center;
  border: 1px red solid;
}
.services-box .main-content-services p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: white;
}
.services-box .main-content-services img {
  width: 30%;
  border-radius: 15px;
}
.services-box .main-content-services #optical-fiber {
  -webkit-mask-image: linear-gradient(to right, transparent 10%, black 100%);
}
.services-box .main-content-services #internet {
  -webkit-mask-image: linear-gradient(to left, transparent 10%, black 100%);
}

.background-animated {
  background: linear-gradient(230deg, #005fff, #001d4d);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 14s ease infinite;
  animation: AnimationName 14s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 88%;
  }
  50% {
    background-position: 100% 13%;
  }
  100% {
    background-position: 0% 88%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 88%;
  }
  50% {
    background-position: 100% 13%;
  }
  100% {
    background-position: 0% 88%;
  }
}
.squad-box .content-squad {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  gap: 50px;
  background-color: yellow;
}
.squad-box .content-squad p {
  font-size: 30px;
}
.squad-box .content-squad .squad-squad {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.squad-box .content-squad .squad-squad p {
  font-size: 17px;
}

/*# sourceMappingURL=styles.css.map */
