.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 10%;
    background-color: #114b75;

    img {
        width: 10%;
        cursor: pointer;
    }

    .header-sections {
        display: flex;
        flex-direction: row;
        gap: 50px;

        p {
            cursor: pointer;
            color: white;
        }
    }
}